[Desktop Entry]
Type=Link
Name=presentation
URL=https://docs.google.com/presentation/d/19TW1KyZrYcMPB3LretrX3WTpxIxfwt6tNuonZV38BXE/edit?usp=drivesdk
